*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: rgba(245, 245, 245, 0.329);
}

.navBarBody{
    display: flex;
}

.personal_group{
    /* background-color: antiquewhite; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.personal_group2{
    /* background-color: yellowgreen; */
    width: 90%;
    margin-top: 40px;
}

.personal_top>span{
    font-size: 20px;
    font-weight: bold;
    color: rgb(110, 110, 110);
}

.personal_top>hr{
    margin-top: 15px;
    margin-bottom: 25px;
    border: 1px solid rgb(216, 216, 216);
}

/* ********************************************************** */
.personal_middle{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 15px;
}

.personal_middle>div{
    margin-left: 30px;
    font-size: 16px;
    color: rgb(156, 156, 156);
    width: 95%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.personal_middle>hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(216, 216, 216);
}


.personal_middle>div>div:nth-child(1){
    /* background-color: violet; */
    min-width: 240px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal_middle>div>div:nth-child(2){
    /* background-color: teal; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal_middle>div>div:nth-child(2)>span{
    font-weight: bold;
    color: rgb(121, 121, 121);
}

.personal_middle>div>div:nth-child(2)>img{
    width: 80px;
    /* background-color: aquamarine; */
    margin-left: 20px;
}




/* ****************************************************** */
.personal_bottom{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 15px;
    margin-top: 30px;
}

.personal_bottom>div{
    margin-left: 30px;
    font-size: 16px;
    color: rgb(156, 156, 156);
    width: 95%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.personal_bottom>hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(216, 216, 216);
}


.personal_bottom>div>div:nth-child(1){
    /* background-color: violet; */
    min-width: 240px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal_bottom>div>div:nth-child(2){
    /* background-color: teal; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal_bottom>div>div:nth-child(2)>span{
    font-weight: bold;
    color: rgb(121, 121, 121);
}