<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <style>
        *{
            text-align: center;
        }
    </style>
</head>
<body>
<h2>카테고리</h2>
<button onclick="hyeeunBoard()">혜은</button>
<button onclick="seoyunBoard()">서윤</button>
<button onclick="yoonseoBoard()">윤서</button>
<button onclick="yunaBoard()">윤아</button>
</body>

<script>
    const hyeeunBoard = () => {
        location.href = "/board/hyeeunBoard";
    }

    const seoyunBoard = () => {
        location.href = "/board/seoyunBoard";
    }

    const yoonseoBoard = () => {
        location.href = "/board/yoonseoBoard";
    }

    const yunaBoard = () => {
        location.href = "/board/yunaBoard";
    }
</script>
</html>