*{
    margin: 0;
    padding: 0;
}

#nameSelect{
    background-color: rgba(245, 245, 245, 0.356);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    color:rgb(117, 117, 117);
    border: 1px solid rgb(192, 192, 192);
}

.saveGroup{
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
    margin-top: 45px;
    flex-direction: column;
    align-items: center;
}

.saveGroup>div{
    display: flex;
    justify-content: flex-start;
    /* background-color: yellowgreen; */
    width: 90%;
}

.saveForm{
    width: 92%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    
}

.saveWrite{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 12px;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.boardTitle{
    height: 50px;
    width: 99%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    background-color: rgba(235, 235, 235, 0.253);
    padding-left: 5px;
    margin-bottom: 30px;
    font-size: 15px;
    box-shadow: 5px 9px 10px rgba(233, 235, 255, 0.705);
}

.boardTitle::placeholder{
    color:rgb(148, 148, 148);
    font-size: 15px;
}

.boardContents::placeholder{
    color:rgb(148, 148, 148);
    font-size: 15px;
}

.boardContents{
    width: 99%;
    height: 400px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    background-color: rgba(235, 235, 235, 0.253);
    padding-left: 5px;
    padding-top: 7px;
    resize: none;
    overflow: auto;
    font-size: 15px;
    box-shadow: 5px 9px 10px rgba(233, 235, 255, 0.705);;
}

.boardContents::-webkit-scrollbar {
    width: 10px;  
}

.boardContents::-webkit-scrollbar {
    width: 10px;  
}

.saveBtn{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(235, 235, 235, 0.253);
    width: 90px;
    margin-left: auto;
}








/* 업데이트 버튼 부분 (목록/수정) */
.updateBtnGroup{
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
}

.updateGoList{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(235, 235, 235, 0.253);
    width: 90px;
}