<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>community Main</title>
    <script src="https://kit.fontawesome.com/a06d7ad725.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div th:replace="/main/header.html :: header"></div>
<div th:replace="/main/navBar.html :: navBar"></div>


<div class="main_topGroup">
    <div>
        <p>어서오세요</p>
        <p>이곳은 커뮤니티 공간입니다.</p>
        <p>게시물을 등록하시고 자유롭게 이용해 주시기 바랍니다</p>
    </div>
    <a th:href="@{/board/seoyun/seoyunSave}">게시물 작성</a>
</div>
<div class="main_middleGroup">
    <div class="main_commentGroup">
        <span>Ongoing Project</span>
        <span>댓글</span>
        <progress value="20" max="100"></progress>
        <span>90</span>
        <span>%</span>
        <span>Complete</span>
        <hr>
        <div>
            <div>
                <span>Start Date : </span>
                <span>10 Jan</span>
            </div>
            <div>
                <span>End Date : </span>
                <span>29 Jan</span>
            </div>
        </div>
    </div>
    <div class="main_likeGroup">
        <span>Ongoing Project</span>
        <span>종아요 </span>
        <progress value="20" max="100"></progress>
        <span>90</span>
        <span>%</span>
        <span>Complete</span>
        <hr>
        <div>
            <div>
                <span>Start Date : </span>
                <span>10 Jan</span>
            </div>
            <div>
                <span>End Date : </span>
                <span>29 Jan</span>
            </div>
        </div>
    </div>
    <div class="main_messageGroup">
        <span>Ongoing Project</span>
        <span>메시지 </span>
        <progress value="20" max="100"></progress>
        <span>90</span>
        <span>%</span>
        <span>Complete</span>
        <hr>
        <div>
            <div>
                <span>Start Date : </span>
                <span>10 Jan</span>
            </div>
            <div>
                <span>End Date : </span>
                <span>29 Jan</span>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#header").load("/../header.html", function () {
        });
        $("#navBar").load("/../navBar.html", function () {
        });
    })
    /*]]>*/

    // 모달 열기/닫기 함수
    function toggleModal() {
        var modal = document.getElementById('logoutPopup');
        if (modal.style.display === 'block') {
            modal.style.display = 'none'; // 모달이 열려있으면 닫기
        } else {
            modal.style.display = 'block'; // 모달이 닫혀있으면 열기
        }
    }
</script>
</body>
</html>
