<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a06d7ad725.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div th:fragment="header">
<div>
    <img src="" alt="logo">
</div>
<div class="header_boardBtn">
    <a th:href="@{/index}"><i class="fa-solid fa-circle-plus"></i></a>
</div>
<div class="">
    <a href=""><i class="fa-regular fa-bell"></i></a>
</div>
<div class="header_myPage" onclick="toggleModal()">
    <i class="fa-solid fa-user-tie"></i>
</div>


<div id="logoutPopup" style="display: none;">
    <a th:href="@{/user/logout}">로그아웃</a>
</div>
</div>
</body>

<script>
    // 모달 열기/닫기 함수
    function toggleModal() {
        var modal = document.getElementById('logoutPopup');
        if (modal.style.display === 'block') {
            modal.style.display = 'none'; // 모달이 열려있으면 닫기
        } else {
            modal.style.display = 'block'; // 모달이 닫혀있으면 열기
        }
    }
</script>
</html>

