<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a06d7ad725.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/main/header.css">
</head>
<body>
<div th:fragment="header" class="header">
    <div class="header_group">
        <a th:href="@{/main/communityMain}">
            <div class="header_boardBtn">
                <img th:src="@{/img/랭업-배경없음로고.png}" alt="logo">
            </div>
        </a>
        <h1 class="text">커뮤니티</h1>
        <div class="header_contain">
            <div class="header_myPage">
                <a th:href="@{/board/seoyun/seoyunSave}"><img th:src="@{/img/image1.png}" alt=""></a>
            </div>
            <div class="header_notification">
                <a href="#"><img th:src="@{/img/image2.png}" alt=""></a>
            </div>
            <div class="option">
                <a th:href="@{/setting/personal}"><img th:src="@{/img/image3.png}" alt=""></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

