<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 상세페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<style>
    .detail_topGroup{
        display: flex;
        margin-bottom: 20px;
    }
    .detail_writerGroup{
        margin-right: 30px;
    }
    .detail_profileImg{
        width: 30px;
        height: 30px;
        border: 1px solid;
        border-radius: 50px;
    }
    .detail_box{
        margin-bottom: 30px;
    }
</style>
<body>
<div class="detail_box">
    <div class="detail_topGroup">
        <div class="detail_writerGroup">
            <span><img th:src="${profileImgUrl}" alt="" class="detail_profileImg"></span>
            <span>작성자 : </span>
            <span th:text="${board.boardWriter}"></span>
        </div>
        <div class="detail_createDate">
            <span th:text="${board.boardCreatedTime}"></span>
        </div>
    </div>
    <div class="detail_contentGroup">
        <div class="detail_title">
            <span>제목 : </span>
            <span th:text="${board.boardTitle}"></span>
        </div>
        <hr>
        <div class="detail_content">
            <span th:text="${board.boardContents}"></span>
        </div>
    </div>
</div>
<div class="detail_footGroup">
    <span>❤️</span>
    <span><button onclick="listReq()">게시물 목록</button></span>
    <span><button onclick="deleteReq()">게시물 삭제</button></span>
    <span><button onclick="updateReq()">게시물 수정</button></span>
</div>


<!-- 댓글 -->
<div class="detail_commentGroup">
    <div class="detail_commentInputGroup">
        <div>
            <span>랭업</span>
            <span>님 게시글 댓글</span>
        </div>
        <hr>
        <div class="detail_commentInput">
            <img src="" alt="" class="detail_profileImg">
            <textarea name="" id="commentContents" cols="50" rows="4"></textarea>
            <div>
                <button id="detail_commentBtn" onclick="commentWrite()">댓글 등록</button>
            </div>
        </div>
    </div>
    <div class="detail_commentContentGroup">
        <div class="detail_commentContentGroup2" th:each="comment: ${commentList}"  id="comment-list">
            <div class="detail_commentProfile">
                <img src="" alt="" class="detail_profileImg">
                <span th:text="${comment.commentWriter}"></span>
            </div>
            <div class="detail_commentContent">
                <span th:text="${comment.commentContents}"></span>
                <div>
                    <a href="">대댓글</a>
                    <a href="">메시지</a>
                    <a href="">신고</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>




<script th:inline="javascript">
    const loggedInUser = /*[[${loggedInUserFullName}]]*/ '';

    const commentWrite = () => {
        const contents = document.getElementById("commentContents").value;

        console.log("작성자: ", loggedInUser);
        console.log("내용: ", contents);
        const id = [[${board.id}]];
        $.ajax({
            // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/seoyun/comment/save",
            data: {
                "commentWriter": loggedInUser,
                "commentContents": contents,
                "boardId": id
            },
            success: function (res) {
                console.log("요청성공", res);
                let output = "<div class='detail_commentContentGroup2'>";
                for (let i in res) {
                    output += "<div class='detail_commentProfile'>";
                    output += "<img src='' alt='' class='detail_profileImg'>";
                    output += "<span>" + res[i].commentWriter + "</span>";
                    output += "</div>";
                    output += "<div class='detail_commentContent'>";
                    output += "<span>" + res[i].commentContents + "</span>";
                    output += "<div>";
                    output += "<a href=''>대댓글</a>";
                    output += "<a href=''>메시지</a>";
                    output += "<a href=''>신고</a>";
                    output += "</div>";
                    output += "<hr>";
                    output += "</div>";
                }
                output += "</div>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContents').value = '';
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });
    }
    const listReq = () => {
        console.log("목록 요청");
        const page = [[${page}]];
        location.href = "/board/seoyun/boardList?page="+page;
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${board.id}]];
        location.href = "/board/seoyun/update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${board.id}]];
        location.href = "/board/seoyun/delete/" + id;
    }
</script>
</html>
